spassocasa.duckdns.org {
    # Reindirizza le chiamate API al container backend
    handle_path /api/* {
        reverse_proxy backend:8000
    }

    # Qui servirai il frontend (una volta buildato)
    handle {
        root * /var/www/html
        file_server
    }
}